<p>
    <span class="auto-style13">KPLC: </span><br /><b>
        <a class="five" href="Institution/DataSheetDetail.aspx">Electricity Status</a>
    </b>
    <br /><span class="auto-style13">URGENT!!!</span><br /><b>
        <a class="five" href="DataSheet.aspx">NEMIS Datasheet</a>
    </b>
</p>
<p>
    <span class="auto-style13">DLP Power Status!!!</span><br /><b>Kindly Use DLP Power Status under Institutions Menu!!</b>
</p>

