
<div class="panel panel-info">
    <div class="panel-body">
        <div class="panel-heading">
            <div class="panel-title">Upcoming Events/Notification</div>
        </div>
        <div class="panel-body">
            <div class="col-md-0" style="text-align:left; color: #FF0000;">
                <p style="text-align:left">
                    <a href="manuals/NEMIS%20MANUAL%20USER%20Ver1.pdf">NEMIS USER MANUAL</a>
                </p>
                <p>
                    <a href="manuals/NEMIS%20FREQUENTLY%20ASKED%20QUESTIONS.pdf">Frequently Asked Questions (FAQs)</a>
                </p>
                <p>
                    <a class="five" href="manuals/Form_One_Admission_Process_Guide_2020.pdf">Form One Selection/Admission Manual</a>
                </p>
                <p>
                    <a class="five" href="manuals/FormOneGuidelines.pdf">Form One Admission Guidelines</a>
                </p>
                <p>
                    <a class="five" href="manuals/NHIF_Claim_Form.pdf">NHIF Claim Form</a>
                </p>
            </div>
        </div>
    </div>
</div>  
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Institution Info</div>
    </div>
    <div class="panel-body">
        <div class="col-md-0" style="text-align:left;">
            <p style="text-align:left">
                <span style="text-align:left; color: #FF0000;">NEMIS CODE: </span>@Session["Institution_Code"].ToString()
            </p>
            <p style="text-align:left">
                <span style="text-align:left; color: #FF0000;">School Level: </span>@Session["Institution_Level"].ToString()
            </p>
            <p style="text-align:left">
                <span style="text-align:left; color: #FF0000;">School Type: </span>@Session["Institution_Type"].ToString()
            </p>
        </div>
    </div>
</div>